.h-vh {
  height: 100vh;
}

.main-swiper-container {
  display: flex;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.main-swiper-container > .swiper-wrapper {
  display: flex;
  color: white;
  align-items: center;
}

.main-swiper-container > .main-nav .btn {
  position: absolute;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  border: none;
}

.main-swiper-container > .main-nav .btn::after {
  content: none;
}

.main-swiper-container > .main-nav .btn svg {
  height: 80%;
  width: auto;
}

.btn-dot {
  background: #fff;
  border: 1px solid hsla(0,0%,96%,.2);
  border-radius: 100%;
  box-shadow: 0 0 1rem hsla(0,0%,5%,.5);;
  display: inline-block;
  height: 10px;
  position: absolute;
  transform: scale(1);
  transition: transform .25s ease-in-out;
  width: 10px;
  z-index: 3;
  padding: 0;
}

.btn-dot.active {
  transform: scale(1.3);
  background: #fff;
  border: 1px solid hsla(0,0%,96%,.2);
  color: #fff;
}

.btn-dot::after {
  -webkit-animation: section-shop-the-look-dot 1.4s ease-in-out infinite;
  animation: section-shop-the-look-dot 1.4s ease-in-out infinite;
  background: white;
  border-radius: 100%;
  content: "";
  height: 30px;
  left: calc(50% - 15px);
  opacity: .4;
  position: absolute;
  top: calc(50% - 15px);
  width: 30px;
}

.main-swiper-container > .swiper-wrapper > .swiper-slide {
  width: 80%;
  height: 450px;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid gray;
  border-radius: 20px;
}

.main-swiper-container > .swiper-wrapper > .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.inner-swiper-container {
  overflow: hidden;
  height: 100%;
}

.inner-swiper-container .swiper-wrapper {
  display: flex;
  flex-direction: column;
}

.inner-swiper-container .swiper-wrapper .swiper-slide {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.popup {
  border-radius: 20px;
  border: 1px solid gray;
  background-color: hsla(0, 0%, 50%, 0.5);
  backdrop-filter: saturate(180%) blur(1rem);
  overflow: hidden;
  padding: 20px;
  position: fixed;
  max-width: calc(100% - 2rem);
  z-index: 10;
  left: 50%;
  bottom: 1rem;
  height: auto;
  transform: translate(-50%, 150%);
  transition: transform 0.45s ease;
}

.popup.visible {
  transform: translate(-50%, 0);
}

.popup .btn.btn-close {
  position: absolute;
  backdrop-filter: saturate(180%) blur(1rem);
  background-color: hsla(0, 0%, 50%, 0.5);
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  margin: 8px;
  border-radius: 100%;
}

.popup .popup-swiper-container .swiper-slide {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
}
