.h-vh {
  height: 100vh;
}

.main-swiper-container {
  display: flex;
  align-items: center;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.main-swiper-container > .swiper-wrapper {
  display: flex;
  color: white;
  align-items: center;
}

.main-swiper-container > .main-nav .btn {
  position: absolute;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 100px;
  height: 30px;
  width: 30px;
  border: none;
}

.main-swiper-container > .main-nav .btn::after {
  content: none;
}

.main-swiper-container > .main-nav .btn svg {
  height: 80%;
  width: auto;
}

.main-swiper-container > .swiper-wrapper > .swiper-slide {
  width: 80%;
  height: 450px;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
}

.main-swiper-container > .swiper-wrapper > .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.inner-swiper-container {
  overflow: hidden;
  height: 100%;
}

.inner-swiper-container .swiper-wrapper {
  display: flex;
  flex-direction: column;
}

.inner-swiper-container .swiper-wrapper .swiper-slide {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
